#main-nav{
  display: flex;
  justify-content: space-around;
  height: 176px;
  background-color: rgb(245, 246, 250);
  .mr-auto.nav {
    margin: 29%;
  }
  .navbar-brand{
    font-size: 40px;
  }
  a{
    color: black;
    font-size: 24px;
  }
  .navbar-toggler{
    outline: none;
  }
}
