#main-nav{
  display: flex;
  justify-content: space-around;
  height: 80px;
  background-color: white;
  .mr-auto.nav {
    // margin: 29%;
  }
  .navbar-brand{
    font-size: 50px;
    color: rgb(242, 82, 186);
    font-family: 'Raleway Dots', cursive;
  }
  a{
    color: black;
    font-size: 24px;
  }
  .navbar-toggler{
    outline: none;
  }
}
